# Collections (LSTD)
## List

In [1]:
fruits = ['apple', 'orange', 'banana', 'papaya']

In [2]:

fruits[0]

'apple'

In [3]:
fruits[1:3]

['orange', 'banana']

In [4]:
fruits[:]

['apple', 'orange', 'banana', 'papaya']

In [5]:
fruits[-3]

'orange'

In [6]:

len(fruits)

4

In [7]:
seasonal_fruits = ['mango', 'cherry', 'watermelon']

In [8]:
all_fruits = fruits + seasonal_fruits

In [9]:
all_fruits

['apple', 'orange', 'banana', 'papaya', 'mango', 'cherry', 'watermelon']

In [10]:
'banana'in all_fruits

True

In [11]:
all_fruits.index('banana')

2

In [12]:
all_fruits.append('grapes')

In [13]:

all_fruits

['apple',
 'orange',
 'banana',
 'papaya',
 'mango',
 'cherry',
 'watermelon',
 'grapes']

In [14]:
a = [1,1,2,4,5,6,7]

In [15]:
a

[1, 1, 2, 4, 5, 6, 7]

In [16]:
min(a)

1

In [17]:
max(a)

7

In [18]:
a.count(1)

2

In [19]:
a.insert (8,4)# First number is Index.

In [20]:
a

[1, 1, 2, 4, 5, 6, 7, 4]

In [21]:
a.reverse()

In [22]:
a

[4, 7, 6, 5, 4, 2, 1, 1]

In [23]:
a.sort()

In [24]:
a

[1, 1, 2, 4, 4, 5, 6, 7]

In [25]:
all_fruits.sort()

In [26]:
all_fruits

['apple',
 'banana',
 'cherry',
 'grapes',
 'mango',
 'orange',
 'papaya',
 'watermelon']

In [27]:
all_fruits.reverse()

In [28]:
all_fruits

['watermelon',
 'papaya',
 'orange',
 'mango',
 'grapes',
 'cherry',
 'banana',
 'apple']

## Tuple

In [29]:

tup1 =(1,3,'orange')

In [30]:
tup1

(1, 3, 'orange')

In [31]:
tupa = tuple(a)

In [32]:
tupa

(1, 1, 2, 4, 4, 5, 6, 7)

## Set

In [33]:
b = set([6,1,1,2,4,5])

In [34]:
b

{1, 2, 4, 5, 6}

In [35]:
b.add(3)

In [36]:
b

{1, 2, 3, 4, 5, 6}

In [37]:
c = set ([2,4,6,7])

In [38]:
c

{2, 4, 6, 7}

In [39]:
c.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [40]:
b.intersection(c)

{2, 4, 6}

In [41]:
c.difference(b) #present in c but not in b

{7}

In [42]:
b.difference(c) # present in b but not in c

{1, 3, 5}

In [43]:
b.remove(1)

In [44]:
b

{2, 3, 4, 5, 6}

In [45]:
b.clear()

In [46]:
b

set()

In [47]:
# Iteration
for i in a:
    print (i*2)

2
2
4
8
8
10
12
14

In [50]:
b = set([6,1,1,2,4,5])

In [51]:
b

{1, 2, 4, 5, 6}

In [52]:
for i in b :
    print(i)

1
2
4
5
6

## Dictionary

In [53]:
d1 = dict ({'one':1, 'Two':2})

In [54]:
d1

{'one': 1, 'Two': 2}

In [55]:
# Join two lists and create a dictionary
names = ['one', 'Two', 'Three', 'Four', 'Five']
Numbers = [1,2,3,4,5]

In [56]:
d2 =dict(zip(names,Numbers))

In [57]:
print(d2)

{'one': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [58]:
d2.keys()

dict_keys(['one', 'Two', 'Three', 'Four', 'Five'])

In [59]:
d2.values()

dict_values([1, 2, 3, 4, 5])

In [60]:
d2['six'] = 6

In [61]:
d2

{'one': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'six': 6}

In [62]:
d2.pop('six') # Remove an element

6

In [63]:
d2

{'one': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}